* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(240, 233, 233);
}

.calculator {
  position: relative;
  max-width: 280px;
  height: 250px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.result {
  display: flex;
}
.display {
  width: 210px;
  height: 50px;
}
.clear button {
  background-color: rgb(8, 143, 123);
}
input[type="text"] {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  border: none;
}
.buttons {
  max-width: 210px;
  max-height: 200px;
}
.buttons button {
  background-color: black;
}
.line1 {
  display: flex;
  flex-direction: row;
}
.Number {
  display: flex;
  flex-direction: row;
}
button {
  width: 70px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  border: none;
}
.operator {
  display: flex;
  flex-direction: column;
}
.operator button {
  background-color: grey;
}
